body{
font-family: Arial;
background:#f4f6f9;
margin:0;
}

.container{
display:flex;
}

.sidebar{

width:230px;
background:#1f4fa3;
height:100vh;
color:white;
padding:25px;
}

.sidebar a{

display:block;
color:white;
text-decoration:none;
margin:18px 0;
}

.content{

flex:1;
padding:40px;
}

.metrics{

display:flex;
gap:15px;
margin-bottom:25px;
}

.metric{

flex:1;
padding:18px;
border-radius:8px;
color:white;
text-align:center;
}

.blue{background:#2d6cdf;}
.red{background:#e74c3c;}
.orange{background:#f39c12;}
.green{background:#27ae60;}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

input,select{

width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{

background:#2d6cdf;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}

.login-container{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-card{

background:white;
padding:40px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
width:300px;
text-align:center;
}

table{

width:100%;
border-collapse:collapse;
}

td,th{

padding:10px;
border-bottom:1px solid #eee;
}