<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="content">

<h2>Registro de merma</h2>

<form method="POST">

Nombre del insumo

<input name="insumo">

Cantidad

<input name="cantidad">

Motivo

<select name="motivo">

<option>Vencido</option>

<option>Dañado</option>

<option>Perdido</option>

</select>

<button>Guardar merma</button>
<a href="/dashboard">

<button>⬅ Volver al dashboard</button>

</a>

</form>

</div>

</body>
</html>